
<p style="text-align:center">
    <a href="https://skills.network" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo">
    </a>
</p>

<h1 align=center><font size = 5>Tarea: Cuaderno SQL para Evaluación entre Pares</font></h1>

Tiempo estimado necesario: **60** minutos.

## Introducción
Usando este cuaderno de Python, realizarás lo siguiente:

1. Entender el conjunto de datos de SpaceX.
2. Cargar el conjunto de datos en la tabla correspondiente en una base de datos Db2.
3. Ejecutar consultas SQL para responder preguntas de la evaluación.

## Descripción del conjunto de datos

SpaceX ha ganado atención mundial por una serie de hitos históricos.

Es la única empresa privada que ha logrado devolver una nave espacial desde la órbita terrestre baja, lo cual logró por primera vez en diciembre de 2010.
SpaceX anuncia lanzamientos de cohetes Falcon 9 en su sitio web por un costo de 62 millones de dólares, mientras que otros proveedores cuestan más de 165 millones de dólares cada uno, gran parte de los ahorros se debe a que SpaceX puede reutilizar la primera etapa.

Por lo tanto, si podemos determinar si la primera etapa aterrizará, podemos determinar el costo de un lanzamiento.

Esta información puede ser útil si una empresa alternativa quiere competir contra SpaceX para un lanzamiento de cohete.

Este conjunto de datos incluye un registro para cada carga útil transportada durante una misión de SpaceX al espacio exterior.

### Descargar los conjuntos de datos

Esta tarea requiere que cargues el conjunto de datos de SpaceX.

En muchos casos, el conjunto de datos a analizar está disponible como un archivo .CSV (valores separados por comas), quizás en internet. Haz clic en el siguiente enlace para descargar y guardar el conjunto de datos (archivo .CSV):

<a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv" target="_blank">Conjunto de datos de SpaceX</a>

In [17]:
!pip install sqlalchemy==1.3.9

Requirement already satisfied: sqlalchemy==1.3.9 in c:\users\wille\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (1.3.9)

WARNING: Skipping C:\Users\wille\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\LocalCache\local-packages\Python311\site-packages\SQLAlchemy-2.0.22.dist-info due to invalid metadata entry 'name'
WARNING: Skipping C:\Users\wille\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\LocalCache\local-packages\Python311\site-packages\SQLAlchemy-2.0.22.dist-info due to invalid metadata entry 'name'
WARNING: Skipping C:\Users\wille\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\LocalCache\local-packages\Python311\site-packages\SQLAlchemy-2.0.22.dist-info due to invalid metadata entry 'name'
WARNING: Skipping C:\Users\wille\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\LocalCache\local-packages\Python311\site-packages\SQLAlchemy-2.0.22.dist-info due to invalid metadata entry 'name'

In [18]:
!pip install sqlalchemy

Requirement already satisfied: sqlalchemy in c:\users\wille\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (1.3.9)

WARNING: Skipping C:\Users\wille\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\LocalCache\local-packages\Python311\site-packages\SQLAlchemy-2.0.22.dist-info due to invalid metadata entry 'name'
WARNING: Skipping C:\Users\wille\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\LocalCache\local-packages\Python311\site-packages\SQLAlchemy-2.0.22.dist-info due to invalid metadata entry 'name'
WARNING: Skipping C:\Users\wille\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\LocalCache\local-packages\Python311\site-packages\SQLAlchemy-2.0.22.dist-info due to invalid metadata entry 'name'
WARNING: Skipping C:\Users\wille\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\LocalCache\local-packages\Python311\site-packages\SQLAlchemy-2.0.22.dist-info due to invalid metadata entry 'name'

In [19]:
!pip uninstall -y SQLAlchemy
!pip install SQLAlchemy

Found existing installation: SQLAlchemy 1.3.9
Uninstalling SQLAlchemy-1.3.9:
  Successfully uninstalled SQLAlchemy-1.3.9

WARNING: Skipping C:\Users\wille\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\LocalCache\local-packages\Python311\site-packages\SQLAlchemy-2.0.22.dist-info due to invalid metadata entry 'name'

Collecting SQLAlchemy
  Downloading SQLAlchemy-2.0.23-cp311-cp311-win_amd64.whl.metadata (9.8 kB)
Requirement already satisfied: typing-extensions>=4.2.0 in c:\users\wille\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from SQLAlchemy) (4.8.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\wille\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from SQLAlchemy) (3.0.1)
Downloading SQLAlchemy-2.0.23-cp311-cp311-win_amd64.whl (2.1 MB)
   ---------------------------------------- 0.0/2.1 MB ? eta -:--:--
   - -------------------------------------- 0.1/2.1 MB 1.7 MB/s eta 0:00:02
   -- ------------------------------------- 0.2/2.1 MB 1.5 MB/s eta 0:00:02
   -------- ------------------------------- 0.5/2.1 MB 3.5 MB/s eta 0:00:01
   ----------------- ---------------------- 0.9/2.1 MB 5.8 MB/s eta 0:00:01
   ---------------------------- ----------- 1.5/2.1 MB 7.1 MB/s eta 0:00:01
   ---------------------------------------  2.1/2.1 MB 8.2 MB/s eta 0:00:01
   ---------------------------------------- 2.1/2.1 MB 7.3 MB/s eta 0:00:00
Installing collected packages: SQLAlchemy
Successfully installed SQLAlchemy-2.0.23

WARNING: Skipping C:\Users\wille\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\LocalCache\local-packages\Python311\site-packages\SQLAlchemy-2.0.22.dist-info due to invalid metadata entry 'name'
WARNING: Skipping C:\Users\wille\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\LocalCache\local-packages\Python311\site-packages\SQLAlchemy-2.0.22.dist-info due to invalid metadata entry 'name'
WARNING: Skipping C:\Users\wille\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\LocalCache\local-packages\Python311\site-packages\SQLAlchemy-2.0.22.dist-info due to invalid metadata entry 'name'
WARNING: Skipping C:\Users\wille\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\LocalCache\local-packages\Python311\site-packages\SQLAlchemy-2.0.22.dist-info due to invalid metadata entry 'name'
WARNING: Skipping C:\Users\wille\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\LocalCache\local-packages\Python311\site-packages\SQLAlchemy-2.0.22.dist-info due to invalid metadata entry 'name'

### Conectar a la base de datos

Primero, carguemos la extensión SQL y establezcamos una conexión con la base de datos.

In [1]:
%load_ext sql

In [2]:
import csv, sqlite3

con = sqlite3.connect("my_data1.db")
cur = con.cursor()

In [6]:
!pip install -q pandas==1.1.5

WARNING: Skipping C:\Users\wille\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\LocalCache\local-packages\Python311\site-packages\SQLAlchemy-2.0.22.dist-info due to invalid metadata entry 'name'
WARNING: Skipping C:\Users\wille\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\LocalCache\local-packages\Python311\site-packages\SQLAlchemy-2.0.22.dist-info due to invalid metadata entry 'name'
WARNING: Skipping C:\Users\wille\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\LocalCache\local-packages\Python311\site-packages\SQLAlchemy-2.0.22.dist-info due to invalid metadata entry 'name'
WARNING: Skipping C:\Users\wille\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\LocalCache\local-packages\Python311\site-packages\SQLAlchemy-2.0.22.dist-info due to invalid metadata entry 'name'

In [22]:
!pip install -q pandas

WARNING: Skipping C:\Users\wille\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\LocalCache\local-packages\Python311\site-packages\SQLAlchemy-2.0.22.dist-info due to invalid metadata entry 'name'
WARNING: Skipping C:\Users\wille\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\LocalCache\local-packages\Python311\site-packages\SQLAlchemy-2.0.22.dist-info due to invalid metadata entry 'name'
WARNING: Skipping C:\Users\wille\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\LocalCache\local-packages\Python311\site-packages\SQLAlchemy-2.0.22.dist-info due to invalid metadata entry 'name'
WARNING: Skipping C:\Users\wille\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\LocalCache\local-packages\Python311\site-packages\SQLAlchemy-2.0.22.dist-info due to invalid metadata entry 'name'

In [3]:
%sql sqlite:///my_data1.db

In [4]:
import pandas as pd
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv")
df.to_sql("SPACEXTBL", con, if_exists='replace', index=False,method="multi")

101

**Nota: Este código a continuación se añade para eliminar filas en blanco de la tabla**

In [5]:
%sql create table SPACEXTABLE as select * from SPACEXTBL where Date is not null

 * sqlite:///my_data1.db
(sqlite3.OperationalError) table SPACEXTABLE already exists
[SQL: create table SPACEXTABLE as select * from SPACEXTBL where Date is not null]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

## Tareas

Ahora escribe y ejecuta consultas SQL para resolver las tareas de la asignación.

**Nota: Si los nombres de las columnas están en mayúsculas y minúsculas, enciérralos entre comillas dobles.
   Por ejemplo, "Landing_Outcome"**

### Tarea 1

##### Muestra los nombres de los sitios de lanzamiento únicos en la misión espacial.

In [7]:
# Muestra los nombres de las columnas
%sql PRAGMA table_info(SPACEXTABLE);

 * sqlite:///my_data1.db
Done.

[(0, 'Date', 'TEXT', 0, None, 0),
 (1, 'Time (UTC)', 'TEXT', 0, None, 0),
 (2, 'Booster_Version', 'TEXT', 0, None, 0),
 (3, 'Launch_Site', 'TEXT', 0, None, 0),
 (4, 'Payload', 'TEXT', 0, None, 0),
 (5, 'PAYLOAD_MASS__KG_', 'INT', 0, None, 0),
 (6, 'Orbit', 'TEXT', 0, None, 0),
 (7, 'Customer', 'TEXT', 0, None, 0),
 (8, 'Mission_Outcome', 'TEXT', 0, None, 0),
 (9, 'Landing_Outcome', 'TEXT', 0, None, 0)]

In [8]:
%sql SELECT DISTINCT "Launch_Site" FROM SPACEXTABLE;

 * sqlite:///my_data1.db
Done.

[('CCAFS LC-40',), ('VAFB SLC-4E',), ('KSC LC-39A',), ('CCAFS SLC-40',)]

### Tarea 2

##### Mostrar 5 registros donde los sitios de lanzamiento comiencen con la cadena 'CCA'

In [9]:
%sql SELECT * FROM SPACEXTABLE WHERE Launch_Site LIKE 'CCA%' LIMIT 5;

 * sqlite:///my_data1.db
Done.

[('2010-04-06', '18:45:00', 'F9 v1.0  B0003', 'CCAFS LC-40', 'Dragon Spacecraft Qualification Unit', 0, 'LEO', 'SpaceX', 'Success', 'Failure (parachute)'),
 ('2010-08-12', '15:43:00', 'F9 v1.0  B0004', 'CCAFS LC-40', 'Dragon demo flight C1, two CubeSats, barrel of Brouere cheese', 0, 'LEO (ISS)', 'NASA (COTS) NRO', 'Success', 'Failure (parachute)'),
 ('2012-05-22', '07:44:00', 'F9 v1.0  B0005', 'CCAFS LC-40', 'Dragon demo flight C2', 525, 'LEO (ISS)', 'NASA (COTS)', 'Success', 'No attempt'),
 ('2012-08-10', '00:35:00', 'F9 v1.0  B0006', 'CCAFS LC-40', 'SpaceX CRS-1', 500, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt'),
 ('2013-01-03', '15:10:00', 'F9 v1.0  B0007', 'CCAFS LC-40', 'SpaceX CRS-2', 677, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt')]

### Tarea 3

##### Muestra el peso total de la carga útil transportada por cohetes lanzados por NASA (CRS).

In [10]:
%sql SELECT SUM(PAYLOAD_MASS__KG_) FROM SPACEXTABLE WHERE Customer LIKE '%NASA (CRS)%';

 * sqlite:///my_data1.db
Done.

[(48213,)]

### Tarea 4

##### Mostrar el promedio de la masa de carga útil transportada por la versión del propulsor F9 v1.1

In [11]:
%sql SELECT AVG(PAYLOAD_MASS__KG_) FROM SPACEXTABLE WHERE Booster_Version = 'F9 v1.1';

 * sqlite:///my_data1.db
Done.

[(2928.4,)]

### Tarea 5

##### Enumera la fecha en la que se logró el primer resultado exitoso de aterrizaje en una plataforma terrestre.

_Consejo: Usa la función `min`._

In [12]:
%sql SELECT MIN(Date) FROM SPACEXTABLE WHERE Landing_Outcome LIKE '%ground%' AND Landing_Outcome LIKE '%Success%';

 * sqlite:///my_data1.db
Done.

[('2015-12-22',)]

### Tarea 6

##### Lista los nombres de los propulsores que han tenido éxito en el barco no tripulado y tienen una masa de carga útil mayor a 4000 pero menor a 6000

In [13]:
%sql SELECT Booster_Version FROM SPACEXTABLE WHERE Landing_Outcome='Success (drone ship)' AND PAYLOAD_MASS__KG_ > 4000 AND PAYLOAD_MASS__KG_ < 6000;

 * sqlite:///my_data1.db
Done.

[('F9 FT B1022',), ('F9 FT B1026',), ('F9 FT  B1021.2',), ('F9 FT  B1031.2',)]

### Tarea 7

##### Lista el número total de resultados exitosos y fallidos de misiones.

In [14]:
%sql SELECT COUNT(CASE WHEN Mission_Outcome = 'Success' THEN 1 END) AS Successful_Outcomes, COUNT(CASE WHEN Mission_Outcome = 'Failure' THEN 1 END) AS Failure_Outcomes FROM SPACEXTABLE;

 * sqlite:///my_data1.db
Done.

[(98, 0)]

### Tarea 8

##### Enumera los nombres de las `booster_versions` que han transportado la carga útil máxima. Utiliza una subconsulta.

In [16]:
%sql SELECT Booster_Version FROM SPACEXTABLE WHERE PAYLOAD_MASS__KG_ = (SELECT MAX(PAYLOAD_MASS__KG_) FROM SPACEXTABLE );

 * sqlite:///my_data1.db
Done.

[('F9 B5 B1048.4',),
 ('F9 B5 B1049.4',),
 ('F9 B5 B1051.3',),
 ('F9 B5 B1056.4',),
 ('F9 B5 B1048.5',),
 ('F9 B5 B1051.4',),
 ('F9 B5 B1049.5',),
 ('F9 B5 B1060.2 ',),
 ('F9 B5 B1058.3 ',),
 ('F9 B5 B1051.6',),
 ('F9 B5 B1060.3',),
 ('F9 B5 B1049.7 ',)]

### Tarea 9

##### Lista los registros que mostrarán los nombres de los meses, los fallos en los aterrizajes en la plataforma flotante, las versiones del cohete y el lugar de lanzamiento para los meses del año 2015.

**Nota: SQLite no admite nombres de meses. Por lo tanto, necesitas usar `substr(Date, 6,2)` como mes para obtener los meses y `substr(Date,0,5)='2015'` para el año.**

In [17]:
%sql SELECT substr(Date, 6, 2) AS month, Landing_Outcome, Booster_Version, Launch_Site FROM SPACEXTABLE WHERE substr(Date, 0, 5) = '2015' AND Landing_Outcome LIKE '%Failure (drone ship)%';

 * sqlite:///my_data1.db
Done.

[('10', 'Failure (drone ship)', 'F9 v1.1 B1012', 'CCAFS LC-40'),
 ('04', 'Failure (drone ship)', 'F9 v1.1 B1015', 'CCAFS LC-40')]

### Tarea 10

##### Clasifica el recuento de resultados de aterrizaje (como Falla (plataforma flotante) o Éxito (plataforma terrestre)) entre las fechas 2010-06-04 y 2017-03-20, en orden descendente.

In [18]:
%sql SELECT Landing_Outcome, COUNT(*) AS Outcome_Count FROM SPACEXTABLE WHERE Date BETWEEN '2010-06-04' AND '2017-03-20' AND (Landing_Outcome = 'Failure (drone ship)' OR Landing_Outcome = 'Success (ground pad)') GROUP BY Landing_Outcome ORDER BY Outcome_Count DESC;

 * sqlite:///my_data1.db
Done.

[('Success (ground pad)', 5), ('Failure (drone ship)', 5)]

### Reference Links

* <a href ="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20String%20Patterns%20-%20Sorting%20-%20Grouping/instructional-labs.md.html?origin=www.coursera.org">Hands-on Lab : String Patterns, Sorting and Grouping</a>  

*  <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Built-in%20functions%20/Hands-on_Lab__Built-in_Functions.md.html?origin=www.coursera.org">Hands-on Lab: Built-in functions</a>

*  <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Sub-queries%20and%20Nested%20SELECTs%20/instructional-labs.md.html?origin=www.coursera.org">Hands-on Lab : Sub-queries and Nested SELECT Statements</a>

*   <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-3-SQLmagic.ipynb">Hands-on Tutorial: Accessing Databases with SQL magic</a>

*  <a href= "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-4-Analyzing.ipynb">Hands-on Lab: Analyzing a real World Data Set</a>

## Author(s)

<h4> Lakshmi Holla </h4>

## Other Contributors

<h4> Rav Ahuja </h4>

## Change log
| Date | Version | Changed by | Change Description |
|------|--------|--------|---------|
| 2021-07-09 | 0.2 |Lakshmi Holla | Changes made in magic sql|
| 2021-05-20 | 0.1 |Lakshmi Holla | Created Initial Version |

## <h3 align="center"> © IBM Corporation 2021. All rights reserved. <h3/>